@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 93%; /* Changed from white to #eeeeee */
    --foreground: 210 15% 20%; /* Calmer blue-grey */

    --muted: 210 14% 80%; /* Calmer muted color */
    --muted-foreground: 210 10% 30%; /* Calmer muted foreground */

    --popover: 0 0% 93%; /* Same as background */
    --popover-foreground: 210 15% 20%; /* Same as foreground */

    --card: 0 0% 93%; /* Same as background */
    --card-foreground: 210 15% 20%; /* Same as foreground */

    --border: 210 14% 80%; /* Calmer border color */
    --input: 210 14% 80%; /* Calmer input color */

    --primary: 210 100% 35%; /* Calmer primary color */
    --primary-foreground: 0 0% 100%; /* White for contrast */

    --secondary: 210 50% 65%; /* Calmer secondary color */
    --secondary-foreground: 210 100% 35%; /* Calmer secondary foreground */

    --accent: 34 100% 50%; /* Calmer accent color */
    --accent-foreground: 210 15% 20%; /* Calmer accent foreground */

    --destructive: 0 100% 40%; /* Calmer destructive color */
    --destructive-foreground: 0 0% 100%; /* White for contrast */

    --ring: 210 50% 65%; /* Calmer ring color */

    --radius: 0.5rem;
  }

  .dark {
    --background: 210 15% 20%; /* Calmer dark background */
    --foreground: 0 0% 93%; /* Lighter text for dark mode */

    --muted: 210 20% 30%; /* Darker muted color for dark mode */
    --muted-foreground: 0 0% 93%; /* Lighter muted foreground for dark mode */

    --popover: 210 15% 20%; /* Same as dark background */
    --popover-foreground: 0 0% 93%; /* Same as light foreground */

    --card: 210 15% 20%; /* Same as dark background */
    --card-foreground: 0 0% 93%; /* Same as light foreground */

    --border: 210 20% 30%; /* Darker border for dark mode */
    --input: 210 20% 30%; /* Darker input for dark mode */

    --primary: 0 0% 93%; /* Lighter primary for dark mode */
    --primary-foreground: 210 100% 35%; /* Calmer primary foreground for dark mode */

    --secondary: 210 20% 30%; /* Darker secondary for dark mode */
    --secondary-foreground: 0 0% 93%; /* Lighter secondary foreground for dark mode */

    --accent: 34 100% 50%; /* Calmer accent color for dark mode */
    --accent-foreground: 0 0% 93%; /* Lighter accent foreground for dark mode */

    --destructive: 0 100% 40%; /* Calmer destructive color for dark mode */
    --destructive-foreground: 0 0% 93%; /* Lighter destructive foreground for dark mode */

    --ring: 210 20% 30%; /* Darker ring for dark mode */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.debug {
  @apply border-red-500 border;
}
